# Git and Version Control
.git
.gitignore
.github

# Docker Files
Dockerfile
.dockerignore

# Documentation
README.md
LICENSE

# Node Files
node_modules/
build/
dist/
coverage/
.DS_Store
*.log

# System Files (macOS & Windows)
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini

# IDEs and Text Editors
.idea/
.vscode/
*.swp
*.swo
*~