@import "./theme.css";
@import "./main.css";

.legal-content {
  p {
    margin-bottom: var(--spacing-md);
  }

  a {
    color: var(--theme-link);
    text-decoration: underline;
  }

  a:visited {
    color: var(--theme-link-visited);
  }

  a:hover {
    color: var(--theme-link-hover);
  }
}
