/* Reset and base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--spacing-xl);
}

body {
  margin-top: calc(var(--spacing-xl) + var(--spacing-lg));
  background-color: var(--theme-background);
  color: var(--theme-on-background);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
.logo {
  font-family: var(--font-headline);
  font-weight: 500;
  color: var(--theme-on-surface);
}
